<script src="./js/Chart.bundle.js"></script>
<script src="./js/index.js"></script>

<div id="canvas-holder" style="width:100%">
    <canvas id="chart-area" />
</div>

<form action="">
<select name="x-axis">
  <option value="time">time</option>
  <option value="duration">duration</option>
  <option value="count">count</option>
</select>
<br><br>
<input type="submit">
</form>

