<script src="./Chart.bundle.js"></script>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


 <script src="/Chart.bundle.js"></script>

      <div id="canvas-holder" style="width:100%">
          <canvas id="chart-area" />
      </div>


    <form action="">
      <select name="x-axis">
        <option value="time">time</option>
        <option value="duration">duration</option>
        <option value="count">count</option>
      </select>
      <br><br>
      <input type="submit">
    </form>

      <script src="./index.js"></script>