<html>

<script type="text/javascript" src="../public/json/sampleData.json"></script>
<script src="../public/js/Chart.bundle.js"></script>
<script src="../public/js/readData.js"></script>
<script src="../public/js/index.js"></script>
<script src="../public/js/dr.js"></script>

<!-- <body onload="load()"> -->
<body>
<div id="canvas-holder" style="width:100%">
    <canvas id="chart-area" />
</div>
<div class="third widget line">
    <div class="chart-legend">
        <h3>Shipments per Day</h3>
        <p><span>This Week</span> &mdash; <strong>Last Week</strong></p>
        <p><a href="" class="button">Change Date Range</a></p>
    </div>
    <div class="canvas-container">
        <canvas id="shipments"></canvas>
    </div>
</div>
<div id = "myList"></div>
</body>
</html>






